.lbl-blanco{
    color: white;
    margin-right: 1em;
    font-size: 1rem; 
}
.table-secondary {
    background-color: #f8f9fa; /* Color de fondo gris */
}
.text-danger {
    color: #dc3545; /* Color de Bootstrap para errores */
}
.curso-incompleto {
    opacity: 0.5;
}
.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.d-none {
    display: none !important;
}