.lbl-blanco{
    color: white;
    margin-right: 1em;
    font-size: 1rem; 
}
.table-secondary {
    background-color: #f8f9fa; /* Color de fondo gris */
}
.text-danger {
    color: #dc3545; /* Color de Bootstrap para errores */
}